.Antonyms {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  border: 1px solid var(--font-color);
  color: var(--font-color);
  padding: 4px 12px;
  margin: 0 8px 4px 0;
  border-radius: 20px;
  background-color: var(--light-background);
}

.Antonyms:hover {
  cursor: pointer;
}

.Antonyms__title {
  font-size: 14px;
  font-weight: bold;
  opacity: 70%;
  margin-right: 4px;
}
