.Dictionary {
  font-size: 24px;
  padding: 20px 0;
}

.dictionary__titleInput {
  text-align: start;
  font-size: 18px;
}

.Dictionary input {
  background-color: var(--light-background);
}

.btn-searching {
  background-color: var(--primary-color);
  color: var(--light-background);
  border-color: var(--primary-color);
}

.dictionary-input:focus {
  border-color: var(--primary-color);
  background-color: var(--light-background);
  box-shadow: none;
}

.Dictionary__word {
  margin: 28px 0;
  text-align: start;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
}
