.phonetics__audioIcon {
  color: var(--font-color);
  font-size: 16px;
  margin: 0 8px;
  padding: 8px;
  border: 1px solid;
  border-radius: 30px;
  transition: all 150ms ease-in-out;
}

.phonetics__text {
  vertical-align: middle;
}

.phonetics__audioIcon:hover {
  background-color: var(--font-color);
  color: var(--light-background);
}
