.Meaning p {
  font-size: 16px;
  margin: 0;
}

.Meaning__definitionCheck {
  color: var(--font-color);
  font-size: 12px;
  margin-right: 4px;
}

.Meaning__partOfSpeech {
  font-size: 16px;
  font-weight: bold;
  color: var(--font-color);
}

.Meaning__example {
  padding: 0 36px 6px;
  font-style: italic;
  color: var(--primary-color);
  opacity: 0.7;
}
